/* .button{
    background-color: blue;
    width: 150px;
    border: 2px solid lightgray;
    cursor: pointer;
    height: 35px;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
} */

